#group-counter {
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.group-counter-list {

}

#group-counter label {
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    display: block;
    margin: 7px 0 10px 20px;
}

#group-counter .ui-group-counter {
    font-family: Tahoma, sans-serif;
    width: 650px;
    font-size: 1.2em;
    margin: 10px 0 5px 10px;
    padding: 6px 10px;

}

.ui-group-counter .group-counter-list {
    font-size: 1.1em;
    padding-left: 5px;
}

#btn-action-group {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#btn-action-group button {
    display: block;
    margin: 0 5px;
    padding: 5px 7px;
    font-size: 1em;
}

#btn-action-group button i {
    padding-right: 10px;
    padding-left: 2px;
    font-size: 1.1em;
}
