#group-counter {
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul.ui-group-counter {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;

    list-style: none;
    display: block;
    cursor: pointer;
    width: 650px;
}

ul.ui-group-counter li.group-counter-list {
    color: #034c7f;
    margin: 3px 0 3px 0;
    padding-left: 30px;
    padding-top: 10px;
    background: #FFF8DC;
    height: 30px;
    list-style: none;
    border-bottom: 1px #000000;
}

#btn-action-group {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;

}
#btn-action-group button{
    margin: 0 5px 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
}
#btn-action-group button i {
    padding-right: 10px;
    padding-left: 2px;
    font-size: 1.3em;
}
.label-group-name-form {
    font: 16px verdana, sans-serif;
    display: inline-table;
    width: 140px;

}
.input-group-name-form {
    font: 16px verdana, sans-serif;
    padding: 5px 0 5px 0;
    width: 370px;
}
