@font-main: Tahoma, Arial, sans-serif;


#group-counter {
    font-family: @font-main;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    label {
        font-size: 1.2em;
        display: block;
        margin: 7px 0 10px 20px;
    }
    .ui-group-counter {
        width: 650px;
        font-size: 1.2em;
        margin: 10px 0 5px 10px;
        padding: 6px 10px;
        option {
            font-size: 1.1em;
            padding-left: 5px;
        }
    }
}

#btn-action-group {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    button {
        display: block;
        margin: 0 5px;
        padding: 5px 7px;
        font-size: 1em;
        i {
            padding-right: 10px;
            padding-left: 2px;
            font-size: 1.1em;
        }
    }
}
