.idea
.vscode
/vendor/
/node_modules/
/js/libs/**/*
/ts/test.ts
/js/test.js
test.html
js/i18n/
/js/edit_counts.js
/js/filters.js
/js/filters-calc.js
/js/left-menu.js
/js/login.js
/js/user.js
/js/edit-group-counts.js
/js/del-group-counts.js
/js/add-group-counts.js